html,
body {
    margin: 0;
    padding: 0;

}


.genre {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;

}

.genre1 {
    flex-basis: 200px;
    height: 100px;
  
    align-items: center;
    flex-wrap: wrap;
}


.action {
    background-color: rgb(30, 144, 255);
    flex-grow: 1;
    text-align: center;
}

.thriller {
    background-color: rgb(190, 178, 178);
    flex-grow: 1;
    text-align: center;
}

.comedy {
    background-color: rgb(255, 214, 30);
    flex-grow: 6;
    text-align: center;
}

.horror {
    background-color: rgb(0, 0, 0);
    flex-grow: 1;
    color: aliceblue;
    text-align: center;
}

.drama {
    background-color: rgb(169, 169, 169);
    flex-grow: 1;
    text-align: center;
}

.romance {
    background-color: rgb(255, 0, 0);
    flex-grow: 3;
    text-align: center;

}